# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Get the `tplroot` from `tpldir` #}
{%- set tplroot = tpldir.split('/')[0] %}
{#- do salt.log.error('tplroot\n' ~ tplroot|yaml(False)) #}
{#- Start imports as #}
{%- import_yaml "template" ~ "/defaults.yaml" as default_settings %}
{%- import_yaml "template" ~ "/osarchmap.yaml" as osarchmap %}
{%- import_yaml "template" ~ "/osfamilymap.yaml" as osfamilymap %} 
{%- import_yaml "template" ~ "/osmap.yaml" as osmap %}
{%- import_yaml "template" ~ "/osfingermap.yaml" as osfingermap %} 
{#- do salt.log.error('default_settings\n' ~ default_settings|yaml(False)) #}
{#- do salt.log.error('default_settings\n' ~ default_settings|yaml(False)) #}
{#- do salt.log.error('osarchmap\n' ~ osarchmap|yaml(False)) #}
{#- do salt.log.error('osfamilymap\n' ~ osfamilymap|yaml(False)) #}
{#- do salt.log.error('osmap\n' ~ osmap|yaml(False)) #}
{#- do salt.log.error('osfingermap\n' ~ osfingermap|yaml(False)) #}

{#- Retrieve the config dict only once #}
{%- set _config = salt['config.get']("template", default={}) %}
{#- do salt.log.error('_config\n' ~ _config|yaml(False)) #}

{%- set defaults = salt['grains.filter_by'](
      default_settings,
      default="template",
      merge=salt['grains.filter_by'](
        osarchmap,
        grain='osarch',
        merge=salt['grains.filter_by'](
          osfamilymap,
          grain='os_family',
          merge=salt['grains.filter_by'](
            osmap,
            grain='os',
            merge=salt['grains.filter_by'](
              osfingermap,
              grain='osfinger',
              merge=salt['grains.filter_by'](
                _config,
                default='lookup'
              )
            )
          )
        )
      )
    )
%}
{#- do salt.log.error('defaults\n' ~ defaults|yaml(False)) #}

{%- set config = salt['grains.filter_by'](
      {'defaults': defaults},
      default='defaults',
      merge=_config
    )
%}

{#- Change **template** to match with your formula's name and then remove this line #}
{%- set template = config %}

{#- Post-processing for specific non-YAML customisations #}
{%- if grains.os == 'MacOS' %}
{%-   set macos_group = salt['cmd.run']("stat -f '%Sg' /dev/console") %}
{%-   do template.update({'rootgroup': macos_group}) %}
{%- endif %}
